@import './variables.scss';
// #######################APP####################

// #######################HEADER####################


.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
  background-color: rgb(222, 230, 236);
}

.button-19:disabled {
  cursor: auto;
}


* {
  overflow-x: hidden;
}

.Header {
  text-align: center;
  background-color: $color-pallet1;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.Header strong {
  font-size: 2.1875rem;
  display: inline-block;
  margin: 7.625rem 0 1.125rem;
  position: relative;
  z-index: 1;
}

.Header ul {
  list-style: none;
  display: inline-flex;
  padding-left: 0;
}

.Header ul li {
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  
  border-radius: 30px;
  padding: 10px 20px;
  
}

.Header ul li :hover {
  cursor: pointer;
  
}

// #######################SEARCHBAR####################
.SearchBar {
  padding: 60px;
  text-align: center;
  background-color: $color-pallet2;
  color: white;
  font-size: 30px;
}

.SearchBar input{
  border-radius: 25px;
  border: 1px solid;
  padding: 10px; 
  width: 100%;
  height: 50%; 
  margin-right: 30%;
  box-sizing: border-box;
}


// #######################BODY####################
.Body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;  
}

.RecipeCard {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: $color-pallet5;
  box-shadow: 0 0 0 1px black;
  width: 100%;
  height: 80%;
  border-radius: 1.5rem;
  box-sizing: border-box;
  flex: 45%;
  //From sweetooth
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


// #######################FOOTER####################
.Footer{
  margin-top: 1%;
  background-color: $color-pallet1;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  position: static; //fixes the footer to the bottom
}

